.why-choose-us-section {
  padding: 80px 0;
  background-color: #f8f9fa;
  text-align: center;
}

.content-wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
  background-color: white;
  padding: 40px 100px; /* Ajout d'un padding horizontal pour l'espace intérieur */
  border-radius: 0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.text-content {
  flex: 1;
}

.section-title-why {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
  text-align: left;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 80px 0 0;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  transition: transform 0.3s ease;
}

.feature-item:hover {
  transform: translateX(5px);
}

.feature-icon-small {
  font-size: 2.2rem;
  color: #4A9D87;
  flex-shrink: 0;
}

.feature-item-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
  text-align: justify;
}

.feature-item-description {
  font-size: 1rem;
  color: #666;
  text-align: justify;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('../../assets/femmelinge.png'); */
  background-repeat: repeat;
}

.choose-us-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); */
}

.choose-us-image-overlay {
  width: 20%;
  height: auto;
  margin-top: -20%; /* Remonte l'image pour qu'elle chevauche la première */
  margin-left: -65%; /* Décale l'image vers la droite */
  z-index: 2;
}

/* --- */
/* ### Responsivité */

/* ```css */
@media (max-width: 992px) {
  .content-wrapper {
    flex-direction: column;
    gap: 30px;
    padding: 30px; /* On ajuste le padding pour la version tablette */
  }
  .section-title-why, .text-content {
    text-align: center;
  }
  .features-list {
    align-items: center;
  }
  .feature-item {
    flex-direction: column;
    text-align: center;
    max-width: 300px;
  }
  .choose-us-image {
    max-width: 80%;
  }
}

@media (max-width: 576px) {
  .section-title-why {
    font-size: 2rem;
  }
  .why-choose-us-section {
    padding: 50px 15px;
  }
  .content-wrapper {
    padding: 20px; /* On réduit encore le padding sur les tout petits écrans */
  }
  .features-list {
    align-items: flex-start; /* Réaligne les éléments à gauche sur mobile */
  }
  .feature-item {
    text-align: left; /* Règle l'alignement du texte à gauche */
    flex-direction: row; /* On peut les remettre sur une ligne si on veut */
  }
}