.section-title-service{
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 0;
    margin-top: 60px;
    text-align: center;
}


.service-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 40px;
  padding: 50px 140px;
  /* background-color: #f8f9fa; */
  background-color: #fff;
  margin-bottom: 45px;
}

/* Responsivité pour la ServiceCardList */
@media (max-width: 600px) {
  .service-card-list {
    grid-template-columns: 1fr; /* Une seule colonne sur les petits écrans */
    align-items: center;
    padding: 20px 50px;
  }
}

@media(max-width: 992px){
  .section-title-service{
    text-align: center;
  }
}

@media(max-width: 576px){
  .section-title-service{
    font-size: 2rem;
  }
}