/* testimonialCard */

.testimonial-card {
  background-color: white;
  padding: 40px 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-5px);
}

.testimonial-image-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto 20px;
  overflow: hidden;
}

.testimonial-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-quote {
  font-size: 1.1rem;
  font-style: italic;
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}

.testimonial-name {
  font-size: 1rem;
  font-weight: 600;
  color: #4A9D87; /* Notre vert d'eau */
}

/* testimonialSection */

.testimonial-section {
  padding: 80px 140px;
  background-color: #f8f9fa; /* Même couleur que la ServiceCardList */
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 50px;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  justify-content: center;
}

/* Responsivité pour la section des témoignages */
@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }
  .testimonial-section {
    padding: 50px 15px;
  }
}