/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Tu peux choisir une autre police */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  background-color: white;
  flex-grow: 1; /* Le contenu principal prend tout l'espace restant */
}

:root {
  /* Choisis une option et colle les lignes ici */

  /* Option 1: Fraîcheur Éclatante */
  --primary-color: #3BB87F;
  --secondary-color: #2C3E50;
  --accent-color: #FFC300;
  --background-color: #F7F9FC;
  --text-color: #34495E;
}

/* Ou, pour l'option 2: Élégance Aqua */

/*
:root {
  --primary-color: #1ABC9C;
  --secondary-color: #2C3E50;
  --accent-color: #E67E22;
  --background-color: #ECF0F1;
  --text-color: #34495E;
}
*/
html {
  scroll-behavior: smooth;
}